[submodule "cdd-web-ng"]
	path = cdd-web-ng
	url = https://github.com/offscale/cdd-web-ng.git
[submodule "cdd-kotlin"]
	path = cdd-kotlin
	url = https://github.com/offscale/cdd-kotlin.git
[submodule "openapi-petstore"]
	path = openapi-petstore
	url = https://github.com/OpenAPITools/openapi-petstore.git
